<a href="https://colab.research.google.com/github/DebjitHore/PadhAI_FDS/blob/master/Pandas_PadhAI_Week9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [3]:
s= pd.Series([0,1,1,2,3,5])
s

0    0
1    1
2    1
3    2
4    3
5    5
dtype: int64

In [4]:
s.values

array([0, 1, 1, 2, 3, 5])

In [5]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [6]:
for item in zip(s.index, s.values):
  print(item)
#A tuple is returned

(0, 0)
(1, 1)
(2, 1)
(3, 2)
(4, 3)
(5, 5)

In [7]:
#s=pd.DataFrame({'name': ['Bob', 'Sue', 'Mary'], 'age': [39, 57,21]})
#s=pd.Series({'name': ['Bob', 'Sue', 'Mary'], 'age': [39, 57,21]})
#CHECK THE DIFFERENCES.

In [8]:
#After describing the series if you eliminate the index to any particular value that particular value gets filtered out too.

In [9]:
#Check the PandasforGrandPa notebook in GitHub for details of indexing and etc

# Task 1

Calculating the density series of planets when we have two series of their mass and diameters

In [10]:
mass = pd.Series([0.33, 4.87, 5.97, 0.642, 1898, 568, 86.8, 102, 0.0146], 
                 index=['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto'])

In [11]:
diameter = pd.Series([4879, 12104, 12756, 3475, 6792, 142984, 120536, 51118, 49528, 2370], 
                     index=['Mercury', 'Venus', 'Earth', 'Moon', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto'])
print(mass, diameter)

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64 Mercury      4879
Venus       12104
Earth       12756
Moon         3475
Mars         6792
Jupiter    142984
Saturn     120536
Uranus      51118
Neptune     49528
Pluto        2370
dtype: int64

In [12]:
density= pd.Series([])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [13]:
for planet in mass.index:
  density[planet]= mass.loc[planet]/((np.pi* (diameter.loc[planet]) **3)/6)

density

Mercury    5.426538e-12
Venus      5.244977e-12
Earth      5.493286e-12
Mars       3.913302e-12
Jupiter    1.240039e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Neptune    1.603427e-12
Pluto      2.094639e-12
dtype: float64

In [14]:
density_withoutloops= mass/(np.pi* np.power(diameter, 3)/6)
density_withoutloops

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon                NaN
Neptune    1.603427e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
dtype: float64

Task 2: Replace all NAN values in density with the mean value of density

In [15]:
mean_density= np.mean(density)
mean_density

2.986303020944728e-12

In [16]:
density_withoutloops[np.isnan(density_withoutloops)]= mean_density

In [17]:
density_withoutloops

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       2.986303e-12
Neptune    1.603427e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
dtype: float64

## NIFTY CASE STUDY

In [20]:
nifty= pd.read_csv('nifty.csv', index_col=0).iloc[:,0]
nifty

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
                 ...
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, Length: 245, dtype: float64

In [21]:
nifty.head(25)

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
08-Jan-2019    10802.15
09-Jan-2019    10855.15
10-Jan-2019    10821.60
11-Jan-2019    10794.95
14-Jan-2019    10737.60
15-Jan-2019    10886.80
16-Jan-2019    10890.30
17-Jan-2019    10905.20
18-Jan-2019    10906.95
21-Jan-2019    10961.85
22-Jan-2019    10922.75
23-Jan-2019    10831.50
24-Jan-2019    10849.80
25-Jan-2019    10780.55
28-Jan-2019    10661.55
29-Jan-2019    10652.20
30-Jan-2019    10651.80
31-Jan-2019    10830.95
01-Feb-2019    10893.65
04-Feb-2019    10912.25
Name: Close, dtype: float64

In [23]:
nifty.tail(25)

Date
26-Nov-2019    12037.70
27-Nov-2019    12100.70
28-Nov-2019    12151.15
29-Nov-2019    12056.05
02-Dec-2019    12048.20
03-Dec-2019    11994.20
04-Dec-2019    12043.20
05-Dec-2019    12018.40
06-Dec-2019    11921.50
09-Dec-2019    11937.50
10-Dec-2019    11856.80
11-Dec-2019    11910.15
12-Dec-2019    11971.80
13-Dec-2019    12086.70
16-Dec-2019    12053.95
17-Dec-2019    12165.00
18-Dec-2019    12221.65
19-Dec-2019    12259.70
20-Dec-2019    12271.80
23-Dec-2019    12262.75
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, dtype: float64

In [24]:
np.mean(nifty)

11432.632244897959

What fraction of days did the market close higher than the previous day's close

In [39]:
count=0
for i in range(0, len(nifty.index)-1):
  if nifty.iloc[i+1]>nifty.iloc[i]:
    count+=1

count

129

In [33]:
fraction_higherthanPreviousDays= count/len(nifty.index)
print(fraction_higherthanPreviousDays)

0.5265306122448979

Vectorised Code

In [40]:
count_2= np.sum((nifty.values[1:]-nifty.values[:-1])>0)
count_2

129

In [41]:
#We get the same answer as before

# Moving averages for time series data

1.Compute moving average of the last 5 days

2.Subset the data to include data for only Fridays

In [42]:
d= pd.Timestamp(nifty.index[0])

In [44]:
d.dayofweek #0 for Monday and 1 for Tuesday

1

In [47]:
new_index= map(pd.Timestamp, nifty.index)

In [48]:
nifty_newindex= pd.Series(nifty, index= new_index)

In [49]:
nifty_newindex.head(5)

2019-01-01    10910.10
2019-01-02    10792.50
2019-01-03    10672.25
2019-01-04    10727.35
2019-01-07    10771.80
Name: Close, dtype: float64

In [50]:
nifty_newindex.index[0]

Timestamp('2019-01-01 00:00:00')

In [51]:
nifty_newindex.rolling('5d').mean()

2019-01-01    10910.100000
2019-01-02    10851.300000
2019-01-03    10791.616667
2019-01-04    10775.550000
2019-01-07    10723.800000
                  ...
2019-12-24    12249.700000
2019-12-26    12201.283333
2019-12-27    12212.412500
2019-12-30    12209.400000
2019-12-31    12223.366667
Name: Close, Length: 245, dtype: float64

In [53]:
dow= nifty_newindex.copy()
for i in dow.index:
  dow[i]= i.dayofweek
dow

2019-01-01    1.0
2019-01-02    2.0
2019-01-03    3.0
2019-01-04    4.0
2019-01-07    0.0
             ...
2019-12-24    1.0
2019-12-26    3.0
2019-12-27    4.0
2019-12-30    0.0
2019-12-31    1.0
Name: Close, Length: 245, dtype: float64

In [55]:
nifty_newindex[dow==4]    #Data for only Fridays with index 4

2019-01-04    10727.35
2019-01-11    10794.95
2019-01-18    10906.95
2019-01-25    10780.55
2019-02-01    10893.65
2019-02-08    10943.60
2019-02-15    10724.40
2019-02-22    10791.65
2019-03-01    10863.50
2019-03-08    11035.40
2019-03-15    11426.85
2019-03-22    11456.90
2019-03-29    11623.90
2019-04-05    11665.95
2019-04-12    11643.45
2019-04-26    11754.65
2019-05-03    11712.25
2019-05-10    11278.90
2019-05-17    11407.15
2019-05-24    11844.10
2019-05-31    11922.80
2019-06-07    11870.65
2019-06-14    11823.30
2019-06-21    11724.10
2019-06-28    11788.85
2019-07-05    11811.15
2019-07-12    11552.50
2019-07-19    11419.25
2019-07-26    11284.30
2019-08-02    10997.35
2019-08-09    11109.65
2019-08-16    11047.80
2019-08-23    10829.35
2019-08-30    11023.25
2019-09-06    10946.20
2019-09-13    11075.90
2019-09-20    11274.20
2019-09-27    11512.40
2019-10-04    11174.75
2019-10-11    11305.05
2019-10-18    11661.85
2019-10-25    11583.90
2019-11-01    11890.60
2019-11-08    11908.15
2019-11-15    11895.45
2019-11-22    11914.40
2019-11-29    12056.05
2019-12-06    11921.50
2019-12-13    12086.70
2019-12-20    12271.80
2019-12-27    12245.80
Name: Close, dtype: float64